@charset "utf-8";
body {
	margin: 0px;
	font-size: 16px;
	font-family: Tahoma, Geneva, sans-serif;
	}
a {
	color:#666;
	text-decoration:none;}
#header {
	position: relative;
	height: 210px;
	background-image: url(/img/header_bg_1.jpg);
	background-repeat: repeat-x;
	background-position: 0px 25px;
}
#header #header-logo {
	height: 132px;
	width: 544px;
	position: absolute;
	left: 0px;
	top: 27px;
}
#model_panel {
	background-image: url(/img/model_panel_bg.png);
	position: absolute;
	height: 52px;
	width: 100%;
	left: 0px;
	bottom: 5px;
	background-repeat: repeat-x;
	background-position: center;
}
#language_bar {
	background-color: #3f4c6b;
	position: relative;
	height: 21px;
	width: 100%;
	border: 1px solid #6e7c9d;
	text-align: right;
	padding-top: 4px;
}
#header #language_bar a {
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}
img.language {
	margin-right: 8px;
}
a#SIGNIN, a#JOIN {
	margin-right: 10px;
	margin-left: 5px;
}
#content {
	position: relative;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
}
#top_menu {
	height: 25px;
	float: right;
	position: relative;
	width: auto;
	z-index: 2;
}
#top_menu a {
	display: block;
	position: relative;
	float: left;
	height: 25px;
	width: auto;
	color: #FFF;
	background-color: rgba(0,0,0,0.6);
	padding-right: 12px;
	padding-left: 12px;
	text-decoration: none;
	font-weight: bold;
	border-left-width: 1px;
	border-left-style: dashed;
	border-left-color: #666;
}
#top_menu a:hover{
	color: #C00;}
#model_panel .form-element {
	float: left;
	width: 300px;
	position: relative;
}
#model_form {
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 12px;
}
#model_form label {
	color:#FFF;}
#cart {
	position: absolute;
	right: 0px;
	bottom: 57px;
}
#cart a {
	display:block;
	text-decoration: none;
	color: #FFF;
	background-color: rgba(0,0,0,0.6);
		padding:5px;

}
.cat {
	width: 144px;
	height: 140px;
	float: left;
	margin: 5px;
	font-size: 14px;
}

/* STYLED TABLE  --> */
.styled {
	margin:0px;padding:0px;
	width:auto;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
	
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
	
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
	
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}.styled table{
	width:auto;
	height:100%;
	margin:0px;padding:0px;
}.styled tr:last-child td:last-child {
	-moz-border-radius-bottomright:10px;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius:10px;
}
.styled table tr:first-child td:first-child {
	-moz-border-radius-topleft:10px;
	-webkit-border-top-left-radius:10px;
	border-top-left-radius:10px;
}
.styled table tr:first-child td:last-child {
	-moz-border-radius-topright:10px;
	-webkit-border-top-right-radius:10px;
	border-top-right-radius:10px;
}.styled tr:last-child td:first-child{
	-moz-border-radius-bottomleft:10px;
	-webkit-border-bottom-left-radius:10px;
	border-bottom-left-radius:10px;
}.styled tr:hover td{
	
}
.styled tr:nth-child(odd){ background-color:#f2f2f2; }
.styled tr:nth-child(even)    { background-color:#ffffff; }.styled td{
	vertical-align:middle;
	
	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:6px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.styled tr:last-child td{
	border-width:0px 1px 0px 0px;
}.styled tr td:last-child{
	border-width:0px 0px 1px 0px;
}.styled tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.styled tr:first-child td{
		background:-o-linear-gradient(bottom, #f2f2f2 5%, #e2e2e2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #e2e2e2) );
	background:-moz-linear-gradient( center top, #f2f2f2 5%, #e2e2e2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2", endColorstr="#e2e2e2");	background: -o-linear-gradient(top,#f2f2f2,e2e2e2);

	background-color:#f2f2f2;
	border:0px solid #000000;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.styled tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #f2f2f2 5%, #e2e2e2 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f2f2f2), color-stop(1, #e2e2e2) );
	background:-moz-linear-gradient( center top, #f2f2f2 5%, #e2e2e2 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2", endColorstr="#e2e2e2");	background: -o-linear-gradient(top,#f2f2f2,e2e2e2);

	background-color:#f2f2f2;
}
.styled tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.styled tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}
/*  <-- STYLED TABLE */
